.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
}

.App-story {
  width: 74vw;
  height: 100vh;
}

.App-nav {
  background-color: white;
  width: 26vw;
  height: 100vh;
  box-shadow: 4px 0 29px 7px rgba(0, 0, 0, 0.1);
}



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
